<h2>What we’re about</h2>
<p>
  Super friendly group of software developers meeting monthly to discuss all things
  <a href="https://ruby-lang.org">Ruby</a>,
  software development, and tech in general. It's very casual, so come along and say hello!
</p>
<p>
  For announcements and meetup reminders, join our
  <a href="https://groups.google.com/g/christchurch-ruby"><b>mailing list</b></a>. 📨
</p>
<p>
  We also have an active slack channel (#christchurch) on
  <a href="https://slack.ruby.nz">slack.ruby.nz</a>, so do join that as
  that's where we organise food before the meetup etc.
</p>
